@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Tangerine:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  /*colors*/
  --very-dark-purple: #2f0433;
  --dark-purple: #660a6e;
  --purple: #d21ce2;
  --dark-blue: #100133;
  --dark-purple-filter: #2f04339d;
  --dark-blue-filter: #1d015eb9;
  --dark-red-filter: #ff000060;
  --dark-green-filter: #0e4b0e86;
  --dark-grey-filter: #555a5586;
  --ocean-filter: #355977b9;
  --ocean: #14d897;
  --gold: #ffd700;
  --aquamarine: #7fffd4;
  --white: #fff;
  --fire: #ff0000af;
  --earth: #058f05b2;
  --air: #808080d8;
  --water: #1919db9a;

  /*fonts*/
  --tangerine: Tangerine;
  --ibm: IBM Plex Sans;
}
html {
  scroll-behavior: smooth;
}
.top {
  position: absolute;
  right: 50px;
  transform: scale(2);
  color: var(--white);
  transition: all 1s;
}
/* ============== header ===============*/
header {
  height: 50px;
  width: 100%;
  display: flex;
  top: 0;
  z-index: 100;
  font-family: var(--ibm);
  background-color: var(--dark-blue);
}
header .logo img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(125deg)
    brightness(106%) contrast(106%);
}

header nav {
  width: 100%;
  height: 100%;
  font-weight: 700;
}
header nav ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
header nav ul li {
  margin: 10px;
}
header nav ul li a,
a:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 100px;
  padding: 0 10px;
  transition: all 0.3s;
}
header nav ul li a:hover {
  color: var(--dark-blue);
  background-color: var(--white);
}
/* ============== header ===============*/
/* ============== Main ===============*/
section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
section .row {
  display: flex;
  align-items: center;
  margin: 50px 0;
}
section .row-rev {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 50px 0;
}
section img {
  width: 100%;
  z-index: -1;
}
section .info {
  border: 1px solid var(--very-dark-purple);
  position: absolute;
  width: 800px;
  background-color: var(--dark-blue-filter);
  padding: 15px;
  color: white;
  font-family: var(--ibm);
}
section .info img {
  width: 200px;
  z-index: 5;
  margin: 0 50px;
  position: relative;
  filter: invert(90%) sepia(65%) saturate(0%) hue-rotate(113deg)
    brightness(101%) contrast(102%);
}

section .info h2 {
  margin: 10px;
  font-size: 2rem;
}
section .info .text .row p,
section .info .text .row-rev p {
  font-size: 1.2rem;
  line-height: 1.2;
}
section .info a,
section .info a:visited {
  display: block;
  margin: 0 auto;
  width: fit-content;
  background-color: var(--dark-blue);
  padding: 15px;
  border-radius: 100px;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s;
}
section .info a:hover {
  background-color: var(--white);
  color: var(--dark-blue);
}
section#caroussel {
  display: flex;
  align-items: center;
}
/*=========== carousel =============*/
.wrapper {
  position: absolute;
  width: 500px;
  right: 100px;
  top: 50%;
  margin-top: -300px;
}
.carousel-wrapper {
  position: relative;
}
.carousel-wrapper .carousel-item {
  background-color: var(--dark-blue-filter);
  width: 100%;
  position: absolute;
  height: 550px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  color: var(--white);
}
.carousel-wrapper .carousel-item img {
  width: 70%;
  border-radius: 800px;
  display: block;
  margin: 0 auto;
  animation: zodiac 30s infinite linear;
}
.carousel-wrapper .carousel-item .arrow {
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 100%;
}
.carousel-wrapper .carousel-item p {
  font-family: var(--ibm);
  padding: 10px;
}
.carousel-wrapper .carousel-item .partner {
  padding: 10px;
  display: block;
  text-align: center;
  width: fit-content;
  margin: 35px auto;
  margin-left: -70px;
  text-decoration: none;
  border-radius: 100px;
  background-color: var(--dark-blue);
  padding: 10px;
  font-family: var(--ibm);
  transition: all 0.3s;
  font-weight: 700;
  position: absolute;
  left: 250px;
  bottom: -10px;
}
.carousel-wrapper .carousel-item .partner:hover {
  color: var(--dark-blue);
  background-color: var(--white);
}
.carousel-wrapper .carousel-item .arrow.arrow-prev {
  left: 0;
}
.carousel-wrapper .carousel-item .arrow.arrow-next {
  right: -33px;
}

.carousel-wrapper [id^="target-item"] {
  display: none;
}
.carousel-wrapper .item-1 {
  z-index: 2;
  opacity: 1;
}

.carousel-wrapper *:target ~ .item-1 {
  opacity: 0;
}
.carousel-wrapper #target-item-1:target ~ .item-1 {
  opacity: 1;
}
.carousel-wrapper #target-item-2:target ~ .item-2,
.carousel-wrapper #target-item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}
/*=========== carousel =============*/

/* ============== Main ===============*/
/* ============== Footer ===============*/

footer {
  height: 180px;
  width: 100%;
  position: absolute;
  color: var(--white);
  background-color: var(--dark-blue);
  font-size: var(--ibm);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
footer .socials {
  margin-bottom: 20px;
}
footer .socials h2 {
  margin: 10px;
  text-align: center;
}
footer .socials ul {
  list-style: none;
  display: flex;
}
footer .socials ul li {
  margin: 10px;
}
footer .socials ul li a,
a:visited {
  color: var(--white);
}
footer .socials ul li a i {
  transform: scale(2);
  margin: 0 10px;
}
footer p {
  color: grey;
}
/* ============== Animation ===============*/
@keyframes zodiac {
  100% {
    transform: rotate(360deg);
  }
}
/* ============== Animation ===============*/
